<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Silex Rest">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Example/Entity</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>